footer {
    width: 100%;
}
#footer__info {
    margin-top: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: var(--grey);
    display: inline-flex;
    width: 100%;
}
.info{
    width:calc(100% / 3);
}
.info > h2 {
    font-size: var(--medium);
    padding-left: 40px;
}
ul {
    list-style-type: none;
}
li {
    font-size: var(--medium);
    font-weight: 300;
    margin: 10px 0;
}

@media screen and (max-width: 560px) {
    #footer__info {
        display: flex;
        flex-direction: column;
    }
    .info{
        width:100%;
        margin-bottom: 15px;
    }
}
