footer {
    width: 100%;
}
#footer__info {
    margin-top: 40px;

    padding-bottom: 40px;
    padding-top: 40px;
    background-color: var(--grey);
    display: inline-flex;
    width: 100%;
}
.info{
    width:30%
}
.info > h2 {
    font-size: var(--big);
    padding-left: 40px;
}
ul {
    list-style-type: none;
}
li {
    font-size: var(--big);
    margin: 10px 0;
}


