
#footer__info {
    margin-top: 40px;
    padding: 40px;
    background-color: var(--grey);
    width: 100%;
    display: inline-flex;
}
.info{
    width:30%
}
.info > h2 {
    font-size: var(--normal);
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    font-size: var(--normal);
    margin: 10px 0;
}


