:root {
    /* COLOR */
    --blue: #0065FC;
    --blue-lighter: #DEEBFF;
    --grey: #F2F2F2;
    --grey-darker: #d1d1d1;
    --black: #000000;
    /* FONT-SIZE */
    --normal: 16px;
    --big: 18px;
    --important-title: 25px;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: Raleway, sans-serif;
}

h1 {
    margin: 10px 0 5px 0;
}
h1, h2 {
    font-size: var(--important-title);
}
p {
    font-size: var(--normal);
    margin-top : 3px;
    margin-bottom: 4px;
}

.btn {
    cursor: pointer;
}
.main-container {
    padding: 0 50px;
}

/*HEADER NAV BAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav--left {width: 70%;}
.nav--right {width: 30%}

.nav--right__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--right__list__item {

}
.nav--right__list__item > a {
    text-decoration: none;
    padding: 35px;
}
.nav--right__list__item__link {
    color: black;
}
.nav--right__list__item__link--active {
    color: var(--blue);
    border-top: 2px solid var(--blue);

}
.nav--right__list__item__register {
    color: var(--blue);
    font-weight: bold
;
}
/* SEARCH CITY ACCOMMODATIONS */

#search {
    margin: 20px 0;
}

/* HEADER RESEARCH */

.search__form--wrapper {
    margin-top: 20px;
    border : 1px solid var(--grey);
    width: 30%;
    border-radius: 10px;
    display: flex;
}

.search__form__location-btn{
    background-color: var(--grey);
    border: none;
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    width: 10%;
    font-size: var(--big);

}
.search__form__input {
    padding: 10px;
    border : none;
    width: 50%;
    font-size: var(--big);
    color: var(--black);
}

.search__form__launch-btn{
    background-color: var(--blue);
    border: none;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    color: white;
    width: 40%;
    font-size: var(--big);
    font-weight: bold;
}

/*HEADER FILTER*/
#search__filter {
    margin : 20px 0 20px 0;
    display: flex;
    align-items: baseline;
}
#search__filter > p {
    font-size: var(--big);
    font-weight: bold;
}

.search__filter__btn{
    font-size: var(--big);
    margin-left: 20px;
    padding: 0 15px 0 0;
    background-color: white;
    border: 2px solid var(--grey);
    border-radius: 25px;
}

.search__filter__btn__icon-filter {
    color: var(--blue);
    background-color: var(--blue-lighter);
    width: 20px;
    height: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 50%;
    margin-right: 10px ;
}

/* INFORMATION NUMBER OF ACCOMMODATIONS */

.info__number-accommodations {
    margin: 40px 0;
}
.info__number-accommodations__logo {
    color: var(--blue);
    border: 1px solid var(--grey);
    padding:5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
    font-size: 10px;
}