:root {
    /* COLOR */
    --blue: #0065FC;
    --blue-lighter: #DEEBFF;
    --grey: #F2F2F2;
    --grey-darker: #bababa;
    --black: #000000;
    /* FONT-SIZE */
    --mini: 10px;
    --small: 13px;
    --medium: 14px;
    --big: 17px;
    --important: 20px;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin: 10px 0 5px 0;
}
h1, h2 {
    font-size: var(--important);
}
p {
    font-size: var(--small);
    margin-top : 3px;
    margin-bottom: 4px;
}

.btn {
    cursor: pointer;
}
.main-container {
    padding: 0 50px;
}

/*HEADER NAV BAR*/
#nav {
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
#nav div:nth-child(n+2){
    width: 170px;
    text-align: center;
}
#nav div:first-child{
    width: calc(100% - 510px);
    margin-left: 0;
}

.nav__item > a{
    text-decoration: none;
    color: black;
    padding: 28px;
}

a.active {
    color: var(--blue);
    border-top: 3px solid var(--blue);
}

a.register {
    color: var(--blue);
    font-weight: bold;
}

/* SEARCH CITY ACCOMMODATIONS */

#search {
    margin: 20px 0;
}

/* HEADER RESEARCH */

.search__form--wrapper {
    margin-top: 20px;
    border : 1px solid var(--grey);
    width: 400px;
    height: 40px;
    border-radius: 10px;
    display: inline-flex;
}
.search__form__location-btn{
    background-color: var(--grey);
    border: none;
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    width: 40px;
}
.search__form__input {
    padding: 10px;
    border : none;
    width: calc(100% - 190px);
    font-size: var(--medium);
    color: var(--black);
}
.search__form__launch-btn{
    background-color: var(--blue);
    border: none;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    width: 150px;
    color: white;
    font-size: var(--medium);
    font-weight: bold;
}


.search__form__launch-btn:after {
    content: "Rechercher";
}

/*HEADER FILTER*/
#search__filter {
    margin : 20px 0 20px 0;
    display: flex;
    align-items: baseline;
}
.search__filter__btn{
    display: inline-block;
    font-size: var(--medium);
    margin-left: 30px;
    padding: 0 25px 0 0;
    background-color: white;
    border: 2px solid var(--grey);
    border-radius: 25px;
}
.search__filter__btn:hover{
    background-color: var(--grey);
    box-shadow: 5px 5px 10px var(--grey-darker);
}
.search__filter__btn__icon-filter {
    color: var(--blue);
    background-color: var(--blue-lighter);
    width: 20px;
    height: 20px;
    padding: 10px;
    font-size: var(--big);
    border-radius: 50%;
    margin-right: 10px ;
}

/* INFORMATION NUMBER OF ACCOMMODATIONS */

.info__number-accommodations {
    margin: 40px 0;
    display: flex;
}
.info__number-accommodations__logo {
    margin-right: 10px;
    color: var(--blue);
    border: 1px solid var(--grey);
    padding:5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: var(--mini);
}

/* MEDIA QUERIES */
@media screen and (max-width: 995px) {
    #search__filter {
        display: inline;
    }
    .search__filter__btn{
        margin: 0 30px 10px 0;
    }
    .search__form--wrapper {
        justify-content: center;
        width: 95%;
        max-width: 300px;
    }
    .search__form__input {
        padding: 10px;
        border: none;
        width: calc(100% - 80px);
    }
    .search__form__launch-btn {
        border-radius: 10px ;
        width: 40px;
    }
    .search__form__launch-btn:after{
        font-family: "Font Awesome 5 Free";
        content: "\f002";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
    }
    .main-container {
        padding: 0;
    }
    #search {
        padding: 0 20px;
    }
    .logo {
        padding-left: 20px;
    }
    #nav {
        height: 130px;
    }
    #nav div:nth-child(n) {
        width: 50%;
    }
    #nav div:first-child{
        order: 1;
    }
    #nav div:nth-child(2){
        order: 3;
        border-bottom: 3px solid var(--blue);
        padding-bottom: 10px;
        text-align: center;
    }
    #nav div:nth-child(3){
        order: 4;
        border-bottom: 3px solid var(--grey);
        padding-bottom: 10px;
        text-align: center;
    }
    #nav div:nth-child(4){
        order: 2;
        text-align: end;
    }
    a.active {
        color: var(--blue);
        border-top: none;
    }
}
