h2 {
    font-size: var(--important);
}
h3 {
    font-size: var(--medium);
    margin-top : 2px;
    margin-bottom: 6px;
}

/* STARS NOTATIONS */
.stars-notations {
    margin-bottom: 3px;
    width: 90%;
}
i.fa-star {
    font-size: var(--small);
}
.blue-star {
    color: var(--blue);
}
.grey-star {
    color: var(--grey);
}

/* GENERAL ACCOMMODATIONS */

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.accommodations {
    background-color: var(--grey);
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px;
}

/* ACCOMMODATIONS CITY */
.accommodations--main {
    width: 62%;
    box-sizing: border-box;
}
.accommodations--main > h2 {
    margin-left: 20px;
}
.accommodations__city{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.accommodations__city__link {
    width: 31%;
    margin: 20px 0;
    text-decoration: none;
}
.accommodations__city__link__item{
    height: 230px;
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px var(--grey-darker);
    overflow:hidden;
}
.accommodations__city__link__item > picture > img {
    border-top-left-radius: 16px 16px;
    border-top-right-radius: 16px 16px;
    width: 100%;
    height: calc(100% - 85px);
    object-fit: cover;
}
.accommodations__city__link__item__wrapper {
    margin: 5px 5px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    max-height: 80px;
}
.accommodations__city__see-more-btn {
    border: none;
    background-color: transparent;
    font-size: var(--big);
    font-weight: bold;
    margin-top: 20px;
}
.accommodations__city__see-more-btn:hover{
    color: var(--grey-darker);
}

/* MOST FAMOUS */

.accommodations--second {
    width: calc(100% - 64%);
    box-sizing: border-box;
}
/* MOST FAMOUS HEADER */
.accommodations__most-famous__header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
i.fa-chart-line {
    font-size: var(--important);
}

/*MOST FAMOUS MAIN */
.accommodations__most-famous {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.accommodations__most-famous__link{
    width: 90%;
    margin: 20px 0;
    text-decoration: none;
}
.accommodations__most-famous__link__item{
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    display: flex;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px var(--grey-darker);
    overflow:hidden;
    height: 160px;
}
.accommodations__most-famous__link__item > picture {
    height: 100%;
    width: calc(100% - 40px);
    max-width: 160px;
}
.accommodations__most-famous__link__item > picture > img  {
    border-top-left-radius: 16px 16px;
    border-bottom-left-radius: 16px 16px;
    height: 160px;
    box-sizing: border-box;
    margin-right: 5px;
    object-fit: cover;
    width: 100%;
}
.accommodations__most-famous__link__item__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 5px 5px 15px;
}
.accommodations__most-famous__link__item__description__header {
    color: black;
}

/* ACTIVITIES */
#activity{
    display: flex;
    flex-direction: column;
}
.activities {
    width: 100%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.activity__link {
    text-decoration: none;
    width: calc((100% - 120px) / 4);
    box-shadow: 5px 5px 10px var(--grey-darker);
    border-radius: 20px;
    box-sizing: content-box;
    margin-left: 40px;
    overflow:hidden;
}
.activities__item{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.activities__item > h3 {
    color: var(--black);
    margin:0;
    height: 60px;
    line-height: 60px;
    padding-left: 15px;
    font-size: var(--medium);
}
.activities__item > picture {
    width: 100%;
    height: calc(100% - 60px);
}
.activities__item > picture > img {
    border-top-left-radius: 16px 16px;
    border-top-right-radius: 16px 16px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.activities a:first-child{
    margin-left: 0;
}
.activities a:nth-child(3n+1){
    height: 100%;
}
.activities a:nth-child(0n+2){
    height: 55%;
}
.activities a:nth-child(0n+3){
    height: 35%;
}
.activities a:nth-child(0n+5){
    height: 43%;
}
.activities a:nth-child(0n+6){
    height: 47%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 995px) {
    .container {
        flex-direction: column-reverse;
    }
    /*ACCOMMODATION*/
    .accommodations--main {
        width: 100%;
        background-color: transparent;
    }
    .accommodations__city__link {
        width: 45%;
    }
    .accommodations__city__link__item {
        height: 190px;
    }
    .accommodations__city__link__item > picture > img {
        height: calc(100% - 70px);
    }
    .accommodations__city__link__item__wrapper {
        height: 65px;
    }
    /*FAMOUS*/
    .accommodations--second {
        width: 100%;
    }
    .accommodations__most-famous__link__item {
        height: 140px;
    }
    .accommodations__most-famous__header {
        width: 95%;
    }
    .accommodations__most-famous__link {
        width: 95%;
    }
    .accommodations__most-famous__link__item > picture {
        max-width: 140px;
        height: 140px;
    }
    .accommodations__most-famous__link__item > picture > img {
        width: 100%;
        height: 100%;
    }
    .accommodations__most-famous__link__item__description {
        width: 100%;
    }
    /*ACTIVITY*/
    #activity {
        margin: 0;
        padding: 0 20px;
    }
    #activity > h2 {
        margin-left: 20px;
    }
    .activities {
        height: 95%;
        flex-direction: row;
        justify-content: space-around;
    }
    .activities a:nth-child(n) {
        height: 190px;
    }
    .activity__link {
        width: 45%;
        margin: 20px 0;
    }
}
@media screen and (max-width: 560px) {
    .accommodations__city__link__item{
        height: 190px;
    }
    .accommodations__city__link {
        width: 95%;
    }
    .activity__link {
        width: 95%;
    }
}




